html{

  margin:0px;
  height:100%;
}

body{
  margin:0px;
  height:95%;
}


.contenedor-total{

  height:96%;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  /*margin-bottom: 2%;*/
  padding: 2%;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 4px solid #f5e7f5;
  
  
  /* RGBa with 0.6 opacity */
  background-color: rgba(241, 207, 113, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";


  text-align: center;

  overflow-y: auto;
  
}

/*FORMULARIO*/

.form-container {
   border: 1px solid #f2e3d2;
   background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
   background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   padding:10px;
   margin-top: 5%;

}
.form-field {
   border: 2px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width: 90%;
}
.form-field:focus {
   background: #fff;
   color: #725129;
   }


.submit-container {
   margin:8px 0;
   text-align:center;
}
.submit-button {

   border: 1px solid #180857;
   background: #375ea1;
   background: -webkit-gradient(linear, left top, left bottom, from(#5abfb2), to(#375ea1));
   background: -webkit-linear-gradient(top, #5abfb2, #375ea1);
   background: -moz-linear-gradient(top, #5abfb2, #375ea1);
   background: -ms-linear-gradient(top, #5abfb2, #375ea1);
   background: -o-linear-gradient(top, #5abfb2, #375ea1);
   background-image: -ms-linear-gradient(top, #5abfb2 0%, #375ea1 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7fdbd3 0 1px 0;
   color: #0c1252;
   font-family: helvetica, serif;
   padding: 6px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #281573;
   text-shadow: #140c52 0 1px 0;
   background: #3667a3;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a73bf), to(#3667a3));
   background: -webkit-linear-gradient(top, #5a73bf, #3667a3);
   background: -moz-linear-gradient(top, #5a73bf, #3667a3);
   background: -ms-linear-gradient(top, #5a73bf, #3667a3);
   background: -o-linear-gradient(top, #5a73bf, #3667a3);
   background-image: -ms-linear-gradient(top, #5a73bf 0%, #3667a3 100%);
   color: #fff;
   }


#title{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  color: black;
  opacity: 0.7;
  font-style: italic;
  margin-top: 1%;

}

#localVideo{
  height: 50%;
  border-radius: 5px;
  border: 4px solid black;
  margin-top: 2%;

}

.videos{
  padding: 0;
  /*height: 60%;*/
  margin-top: 2%;
}
.mivideo{
  
  margin: 0;
  padding: 0;
  
  
}

.me{
  width: 100%;
  
}

#remotes{
  padding: 0;
}

#remotes > video{
  width: 44%;
  margin-left: 2%;
  

}

.negrita{
  font-weight: bold;
  color:#213689;
}

body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;

  overflow-y: auto;
  background: url(./fondos-pantalla-playas-wallpaper-estrella-mar.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#roomLink{
  font-size: 15px;
  font-style: italic;
  color: black;
}

#my-id {
  font-size: 22px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
}

#my-video {
  margin-top: 15px;
  width: 180px;
  height: auto;
  background-color: #eee;
}

#their-video {
  width: 320px;
  height: 240;
  background-color: #eee;
}

#video-container {
  padding: 25px;
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}
#my-id {
  font-weight: bold;
  color: #F00;

}

#callto-id {
  height: 38px;"
}

#subhead { 
  font-size: 24px;
  color: #F00;
  font-weight: bold;
}

#make-call, #end-call {
  font-size: 18px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  color: #F00;
}